<div><br/>
    <nav class="navbar ">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li >
                    <button class="btn btn-success btn-sm" ng-click="Deconnexion()">Déconnection</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm"  ng-click="GoCompte()"> Mes comptes</button>
                </li>
                <li>
                     <button class="btn btn-primary btn-sm" ng-click="GoInformation()">Mes informations</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm"  ng-click="GoCreation()">Créer un nouveau compte</button>
                </li>
            </ul>
        </div>
    </nav>

</div>

