<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<form  ng-submit="connexion()" class="form-group col-xs-6 col-xs-offset-3">
    <div ng-show="visible" >
        <p class="text-danger">Mot de passe ou login incorrects</p>
    </div>
    <div class="row text-center">
        <h2 class="form-group">Connexion</h2> 
    </div>
    <label>Identifiant  : </label> <input class="form-control" ng-model="identifiant" type="text" name="identifient" > 
    <br/>
    <label>Mot de passe : </label><input class="form-control" type="password" ng-model="password" name ="password" > <br/>
    <div class="row  form-group col-xs-4  col-xs-offset-4">
        <input class="btn btn-success" Type="submit" value="Se connecter"/>
    </div>
    <div class="row  form-group col-xs-4  col-xs-offset-4">
        <input   class=" btn btn-danger" Type="reset" VALUE="Annuler"/>
    </div>
    <div class="row form-group col-xs-4  col-xs-offset-4">
        <input class="btn btn-link" Type="submit"  VALUE="Créer un compte">
    </div>
</form>
