<div  >
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-primary"  ng-click="GoAccueil()" >Retour</button>
            <br/>
        </div>
    </div>
    <br/>
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h1>Mes virements</h1>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped opacityMax">
                <tr>
                    <th>Transaction n°</th>
                    <th>Compte</th>
                    <th>Iban</th> 
                    <th>Date</th>
                    <th>Valeur</th>
                </tr>
                <tr ng-repeat="compte in comptesClient[0]">
                    <td>{{compte.id}}</td>
                    <td>{{compte.compte.id_compte}}</td>
                    <td ng-if="numero == compte.ibandestination.id_compte">{{compte.compte.iban}}</td>
                    <td ng-if="numero != compte.ibandestination.id_compte">{{compte.ibandestination.iban}}</td>
                    <td>{{compte.datecreation}}</td>
                    <td class="success" ng-if="numero == compte.ibandestination.id_compte">+ {{compte.somme}}</td>
                    <td class="danger" ng-if="numero != compte.ibandestination.id_compte">- {{compte.somme}}</td>
                </tr>



            </table>
        </div>
        <div class="panel-footer">
            <button  class="btn btn-success" ng-click="GoVirement()">Nouveau virement</button>
        </div>

    </div>
</div>
